{{- if .Values.brokerIngress.enabled -}}
{{- $ingressApiIsStable := eq (include "snyk-broker.ingress.isStable" .) "true" -}}
{{- $ingressSupportsIngressClassName := eq (include "snyk-broker.ingress.supportsIngressClassName" .) "true" -}}
{{- $ingressSupportsPathType := eq (include "snyk-broker.ingress.supportsPathType" .) "true" -}}
{{- $fullName := include "snyk-broker.fullname" . -}}
{{- $servicePort := .Values.service.port -}}
{{- $scmType := .Values.scmType -}}
{{- $ingressPath := .Values.brokerIngress.path -}}
{{- $ingressPathType := .Values.brokerIngress.pathType -}}
{{- $extraPaths := .Values.brokerIngress.extraPaths -}}
{{- $releaseName := .Release.Name -}}
{{- $disableSuffixes := .Values.disableSuffixes }}
apiVersion: {{ include "snyk-broker.ingress.apiVersion" . }}
kind: Ingress
metadata:
  name: {{ $fullName }}{{ if not $disableSuffixes}}-{{ .Release.Name }}{{ end }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "snyk-broker.labels" . | nindent 4 }}
    {{- with .Values.brokerIngress.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- if .Values.brokerIngress.annotations }}
  annotations:
    {{- range $key, $value := .Values.brokerIngress.annotations }}
    {{ $key }}: {{ tpl $value $ | quote }}
    {{- end }}
  {{- end }}
spec:
  {{- if and $ingressSupportsIngressClassName .Values.brokerIngress.ingressClassName }}
  ingressClassName: {{ .Values.brokerIngress.ingressClassName }}
  {{- end -}}
{{- if .Values.brokerIngress.tls }}
  tls:
{{ tpl (toYaml .Values.brokerIngress.tls) $ | indent 4 }}
{{- end }}
  rules:
  {{- if .Values.brokerIngress.hosts  }}
  {{- range .Values.brokerIngress.hosts }}
    - host: {{ tpl . $}}
      http:
        paths:
{{- if $extraPaths }}
{{ toYaml $extraPaths | indent 10 }}
{{- end }}
          - path: {{ $ingressPath }}
            {{- if $ingressSupportsPathType }}
            pathType: {{ $ingressPathType }}
            {{- end }}
            backend:
              {{- if $ingressApiIsStable }}
              service:
                name: {{ include "snyk-broker.brokerServiceName" $ }}
                port:
                  number: {{ $servicePort }}
              {{- else }}
              serviceName: {{ $scmType }}-broker-service{{ if not $disableSuffixes}}-{{ $releaseName }}{{ end }}
              servicePort: {{ $servicePort }}
              {{- end }}
  {{- end }}
  {{- else }}
    - http:
        paths:
          - backend:
              {{- if $ingressApiIsStable }}
              service:
                name: {{ include "snyk-broker.brokerServiceName" . }}
                port:
                  number: {{ $servicePort }}
              {{- else }}
              serviceName: {{ include "snyk-broker.brokerServiceName" . }}
              servicePort: {{ $servicePort }}
              {{- end }}
            {{- if $ingressPath }}
            path: {{ $ingressPath }}
            {{- end }}
            {{- if $ingressSupportsPathType }}
            pathType: {{ $ingressPathType }}
            {{- end }}
  {{- end -}}
{{- end }}
