apiVersion: v1
kind: Service
metadata:
  name: "{{ .Values.scmType}}-broker-service"
  namespace: {{ .Release.Namespace }}
  {{- with .Values.serviceAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "snyk-broker.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.brokerType }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.deployment.container.containerPort }}
  selector:
    {{- include "snyk-broker.selectorLabels" . | nindent 4 }}
