{{- if eq .Values.scmType "container-registry-agent" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Values.scmType}}-cra"
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}-cr
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}-cr
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}-cr
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ include "snyk-broker.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: container-registry-agent
          resources:
            limits:
              cpu: {{ .Values.crResources.limits.cpu }}
              memory: {{ .Values.crResources.limits.memory }}
            requests:
              cpu: {{ .Values.crResources.requests.cpu }}
              memory: {{ .Values.crResources.requests.memory}}
          securityContext:
            {{- toYaml .Values.securityContextCr | nindent 12 }}      
          image: "{{ .Values.image.crRepository }}:{{ .Values.crImage}}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.deployment.container.crSnykPort }}
          env:
            - name: SNYK_PORT
              value: {{ .Values.deployment.container.crSnykPort | squote }} 
         {{- if .Values.tlsRejectUnauthorized  }}
         # Troubleshooting - Set to 0 for SSL inspection testing
            - name: NODE_TLS_REJECT_UNAUTHORIZED
              value: "0"
         {{- end }}
         {{- range .Values.env }}
         # custom env var in override.yaml
            - name: {{ .name }}
              value: {{ .value | squote }} 
        {{- end}}


---
apiVersion: v1
kind: Service
metadata:
  name: "cra-service"
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "snyk-broker.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.crType }}
  ports:
    - port: {{ .Values.deployment.container.crSnykPort }}
      targetPort: {{ .Values.deployment.container.crSnykPort}}
  selector:
    app.kubernetes.io/name: {{ .Release.Name }}-cr
    app.kubernetes.io/instance: {{ .Release.Name }}
{{- end }}